.slider-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.slider-item{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border: 2px solid grey;
  border-radius: 50px;
}

.slider-item a{
  text-decoration: none;
  font-size: 2rem;
}