.main-div{
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 7rem;
  font-weight: bold;
  word-break:break-all;
  color: white;
  margin-left: 5rem;
  animation: slideLeft 3s ease-in-out 1;
}

.div-class{
   background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/assets/hero-image.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


.our-goal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-goal{
  width: 90%;
  background-color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-goal-text{
  width: 60%;
  height: 80vh;
  /* background-color: rgba(216,216,216,0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-radius: 2rem;
  flex-direction: column;
  overflow: hidden;
}

.our-goal-h1{
  font-size: 5rem;
  padding: 1rem;
  color: #FF0000;
}
.our-goal-h3{
  font-size: 2rem;
  color: black;
  /* -webkit-text-stroke: 1px #FF0000; */
}

.our-goal-p{
  padding: 1rem;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.our-work-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-work-title {
  width: 100%;
  background-color: grey;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-1{
  width: 100%;
  background-image: url(../../assets/our-work-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-1 h1{
  width: 90%;
  height: 80vh;
  background-color: rgba(216,216,216,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.our-work-2{
  width: 100%;
  background-image: url(../../assets/our-work-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-2 h1{
  width: 90%;
  height: 80vh;
  background-color: rgba(216,216,216,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

@keyframes slideLeft {
  0%   { transform: translateX(-100%); }
  50%   { transform: translateX(10%); }
  100% { transform: translateX(0); }
}