.main-div{
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  word-break:break-all;
  justify-content: center;
  animation: slideLeft 3s ease-in-out 1;
}

.div-class{
  background-image: url(../../assets/background-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


.our-goal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-goal{
  width: 100%;
  background-image: url(../../assets/our-work-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-goal-text{
  width: 90%;
  height: 80vh;
  background-color: rgba(216,216,216,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  flex-direction: column;
  overflow: hidden;
}

.our-goal-h1{
  font-size: 5rem;
  padding: 1rem;
}
.our-goal-h3{
  font-size: 2rem;
}

.our-goal-p{
  padding: 1rem;
  font-weight: 600;
}

.our-work-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-work-title {
  width: 100%;
  background-color: grey;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-1{
  width: 100%;
  background-image: url(../../assets/our-work-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-1 h1{
  width: 90%;
  height: 80vh;
  background-color: rgba(216,216,216,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.our-work-2{
  width: 100%;
  background-image: url(../../assets/our-work-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-2 h1{
  width: 90%;
  height: 80vh;
  background-color: rgba(216,216,216,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

@keyframes slideLeft {
  0%   { transform: translateY(-100%); }
  50%   { transform: translateY(10%); }
  100% { transform: translateX(0); }
}