.footer{
  background-color: black;
  padding: 1rem;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-image{
  width: 90%;
}
.footer-item{
  color: white;
  text-decoration: none;
}

.footer-item:hover{
  color: black;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.5rem;
}

.contact-us-form{
  width: 40%;
  color: black;
  background-color: #c30000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.contact-us-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-us-input{
  width: 20rem;
  height: 1.5rem;
  border-radius: 1rem;
}

.contact-us-button{
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
}
.contact-us-button:hover{
  color: white;
  background-color: black;
}
.social-links{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.social-link{
  padding: 1rem;
  margin: 0 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

.social-links a:hover{
  background-color: lightgray;
}
