.footer{
  background-color: black;
  padding: 1rem;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
}

.footer-items-container{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  flex-wrap: wrap;

}

.footer-image{
  width: 100%;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.5rem;
}

.contact-us-form{
  width: 50%;
  color: black;
  background-color: white;
  border: 5px solid #c00000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.contact-us-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-us-input{
  width: 50%;
  height: 1.5rem;
  border-radius: 1rem;
}

.contact-us-button{
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
}
.contact-us-button:hover{
  color: white;
  background-color: #FF0000;
}
.social-links{
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
}

.social-link{
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.social-links a:hover{
  background-color: #FF0000;
}
