@font-face{
  font-family: Myriad Pro;
  src: url(./assets/myriad-pro/MYRIADPRO-SEMIBOLD.OTF);
}

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro' ,Verdana, Tahoma, sans-serif;
}